.git
.env
*.env
node_modules
data/*.sqlite
data/*.sqlite-*
data/*.db
temp
ref
playwright-report
test-results
pdf/*.aux
pdf/*.log
pdf/*.out
pdf/*.toc
pdf/*.fls
pdf/*.fdb_latexmk
pdf/*.synctex.gz
pdf/*.nav
pdf/*.snm
pdf/*.vrb
pdf/*.bbl
pdf/*.blg
